{% load static %}
</div>
<div class="blockcode">
  <div class="header"></div>

  <footer class="page-footer shadow" style="background-color: rgb(27, 105, 127);">
    <div class="d-flex flex-column mx-auto py-5" style="width: 80%">
      <div class="d-flex flex-wrap justify-content-between">
        <div>
          <a href="/" class="d-flex align-items-center p-0 text-dark">
            <img alt="logo" src="{% static 'images/Handmade Haven.png' %}" width="100px" />
            <span class="ms-3 h5 font-weight-bold">Handmade Haven</span>
          </a>
          <p class="my-3" style="width: 250px">
            We are creating High Quality Resources and tools to Aid developers during the
            developement of their projects
          </p>
          <span class="mt-4">
            <button class=" btn-flat p-2">
              <h5><a href="#"><i class="bi bi-facebook"></i></a></h5>
            </button>
            <button class=" btn-flat p-2">
              <h5><a href="#"><i class="bi bi-instagram"></i></a></h5>
            </button>
            <button class=" btn-flat p-2">
              <h5><a href="#"><i class="bi bi-twitter"></i></a></h5>
            </button>
            <button class=" btn-flat p-2">
              <h5><a href="#"><i class="bi bi-whatsapp"></i></a></h5>
            </button>
          </span>
        </div>
        <div>
          <p class="h5 mb-4" style="font-weight: 600">Handmade Haven</p>
          <ul class="p-0" style="list-style: none; cursor: pointer">
            <li class="my-2">
              <a class="text-dark" href="candle more.html">Resources</a>
            </li>
            <li class="my-2">
              <a class="text-dark" href="about.html">About Us</a>
            </li>
            <li class="my-2">
              <a class="text-dark" href="contact pro.html">Contact</a>
            </li>
            
          </ul>
        </div>
        <div>
          <p class="h5 mb-4" style="font-weight: 600">Help</p>
          <ul class="p-0" style="list-style: none; cursor: pointer">
            <li class="my-2">
              <a class="text-dark" href="login pro.html">Login</a>
            </li>
            <li class="my-2">
              <a class="text-dark" href="register pro.html">Register</a>
            </li>
            
          </ul>
        </div>
        <div>
          
        </div>
      </div>
      <small class="text-center mt-5">&copy; Handmade Haven, 2023. All rights reserved.</small>
    </div>
  </footer>
</div>    
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/popper.js"></script>        
</body>
</html>
